.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 2rem;
    font-size: 0.7em;
}
.username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 0.5rem;
}
.username img {
    height: 6rem;
}
